Package: love.litten.medii
Name: Medii
Depends: mobilesubstrate, firmware (>= 13.0)
Version: 1.0
Architecture: iphoneos-arm
Description: Pause Music At 0% Volume, Neat When Wearing Headphones
Maintainer: Litten <hiya@litten.love>
Author: Litten <hiya@litten.love>
Section: Tweaks
